/**
* Css for coming soon page
*/

body {
    background-image: url("../images/bg-pattern.jpg");
    background-repeat: repeat;
}

div.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    width: 206px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 122px;
}

div.coming-soon-text{
   color: #ffffff;
    width: 304px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	height: 53px;
	text-align: center;
}

div.dot-text {
    color: #ffffff;
    width: 69px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
	text-align: center;
	letter-spacing: 20px;
	height: 68px;
}

div.team-text {
    color: #ffffff;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
	text-align: center;
}

